html {
  height: 100%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  color: #333;
  background-color: #f0f0f0;
  position:absolute; top:0; bottom:0; right:0; left:0;
  margin: 0;
}

.text a { 
  color: #999;
  text-decoration: none; 
}

.text a:hover { 
  color: #222;
  transition: color .2s ease, background .2s ease;
}

#limiter {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#outline {
  width: 200px;
  height: 240px;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.prototype-wrapper {
	width:200px;
	margin: 0 auto;
}

#song {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#download {
  width: 200px;
  height: 20px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}