---
---
{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Aaron Greene</title>
  <meta name="keywords" content="aaron greene music musician song songs soundtrack soundtracks tv television movie movies ambient dark atmospheric">
  <meta name="description" content="">
  <link rel="shortcut icon" href="{{base}}/favicon.ico" />
  <link href="{{base}}/css/style.css" rel="stylesheet" type="text/css" />
</head>
</html>